body{
    margin: 0;
    background-color: #f2f7f5;
    font-family: 'Roboto', sans-serif;
    color: #475569;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #475569;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
    background-color: #f2f7f5;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 100px;
}

.nav-link{
    font-size: 20px;
    color: #475569;
}

.nav-link:hover{
    color: #00473e;
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    color: #475569;
}

.nav-logo img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin-top: 50px;
    -webkit-box-shadow: 5px 5px 10px 0px #000000;
    -moz-box-shadow: 5px 5px 10px 0px #000000;
    -o-box-shadow: 5px 5px 10px 0px #000000;
    box-shadow: 5px 5px 10px 0px #000000;
}

#login img{
    width: 300px;
    height: auto;
}

form{
    padding: 50px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#button{
    margin-top: 15px;
    background-color: #faae2b;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #00473e;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-bottom: 150px;
}

#reg{
    color: #faae2b;
}

.textareastyle {
    border: 0;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
}

.textareastyle:focus::-webkit-input-placeholder {
    font-size: 10px;
    position: relative;
    top: -15px; 
    transition: 0.2s ease-out;
}

@media(max-width: 750px){
    #login img{
        display: none;
    }
    .nav-logo a{
        display: none;
    }

    .navbar{
        padding: 10px;
    }

    .nav-menu{
        margin-right: 10px;
    }
}

.hidden{
    display:none;
}